<style type="text/css">
body { color: #000000; font-family: Verdana, Arial, sans-serif; font-size: 14px;
	line-height: 22px; }
h1 { font-size: 28px; }
h2 { font-size: 24px; border-bottom: 1px solid #ccc; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
p { font-size: 14px; }
li { font-size: 14px; }
th { font-size: 16px; font-weight: bold; }
td { font-size: 14px; }
code { font-family: Courier, Monaco, monospace; }
p code, ul li code, ul li p code { font-size: 13px; line-height: 23px;
	background-color: #f8f8f8; padding: 2px; border: 1px solid #ccc;
	border-radius: 3px; overflow: auto; }
pre { font-size: 13px; line-height: 23px; background-color: #f8f8f8;
	padding: 11px; border: 1px solid #ccc; border-radius: 3px; overflow: auto; }
ul li pre code { border: 0px; }
table { border-spacing: 5px; }
table td, table th { padding: 5px; }
td pre { background-color: transparent; border: 0px; }
hr { color: #999; background-color: #999; border: 0px; margin-top: 20px;
	margin-bottom: 10px; height: 2px; }
</style>
