<a name="{{ event.name }}"></a>
<div class="entry event {{ event.access }} {{ "inherited" if event.inherits }}">
	<div class="header">
		<span class="access {{ event.access }}">{{ event.access }}</span>
		<span class="name">{{ event.name }}</span>
	</div>
	<div class="content">
		{% if event.inherited %}
		<div class="inherited">Inherited from {{ event.inherits }}</div>
		{% endif %}
		{%- if event.deprecated -%}
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			{%- if event.deprecated != true -%}
				<span>Deprecated: {{ event.deprecated }}</span>
			{%- else -%}
				<span>Deprecated</span>
			{%- endif -%}
		{%- endif -%}
		<div class="description">{{ event.description }}</div>
		{% include "partials/event-properties.html" %}
		<div class="source">
			<span>From </span>
			<span class="file">{{ event.source }}</span>
			<span class="line">:{{ event.sourceLine }}</span>
		</div>
	</div>
</div>
