{% if ui.length > 0 or kinds.length > 0 %}
	{% if ui.length > 0 %}
	<div class="ui">
		<h2><a href="javascript:find(':kinds-ui');">Controls</a></h2>
		<ul>
			{% for control in ui %}
			<li class="kind control {{ control.access }}">
				<a href="javascript:find(':{{ control.name }}');">{{ control.name }}</a>
			</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
	{% if kinds.length > 0 %}
	<div class="kinds">
		<h2><a href="javascript:find(':kinds-other');">Other</a></h2>
		<ul>
			{% for kind in kinds %}
			<li class="kind {{ kind.access }}">
				<a href="javascript:find(':{{ kind.name }}');">{{ kind.name }}</a>
			</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
{% else %}
<span class="no-kinds">No kinds</span>
{% endif %}