{% if inheritedMethods.length > 0 %}
<ul>
	{% for method in inheritedMethods %}
	<li class="method {{ method.access }} {{ "inherited" if method.inherits }}">
		<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
		{%- if method.deprecated -%}<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>{%- endif -%}
		&nbsp;<a href="javascript:find(':{{ method.name }}');">{{ method.name }}</a>
	</li>
	{% endfor %}
</ul>
{% else %}
<span class="no-methods">No inherited methods</span>
{% endif %}
