{% if methods.length > 0 %}
<ul>
	{% set count = 0 %}
	{% for method in methods %}
		{% if show_static or method.scope != 'static' %}
			{% if method.access == 'public' %}
				{% set count = count + 1 %}
			{% endif %}
			<li class="method {{ method.access }} {{ "inherited" if method.inherits }}">
				<span class="badges">
					{%- if method.deprecated -%}<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>{%- endif -%}
					<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
				</span>
				<a href="javascript:find(':{{ method.name }}');">{{ method.name }}</a>
			</li>
		{% endif %}
	{% endfor %}
	{% if count == 0 %}
		<li class="method hide-when-show-private feature-text">No public methods</li>
	{% endif %}
</ul>
{% else %}
	<span class="no-methods">No methods</span>
{% endif %}
