<div class="method {{ method.access }}">
	<div class="header">
		{% if method.access == "private" or method.access == "protected" %}
		<div class="{{ method.access }}">{{ method.access }}</div>
		{% endif %}
		<div class="name">{{ method.name }}</div>
		<div class="type"></div>
		{% if method.inherited %}
		<div class="inherited">From {{ method.inherits }}</div>
		{% endif %}
	</div>
	<div class="description">{{ method.description }}</div>
	<div class="source">
		<div class="file">{{ method.source }}</div>
		<div class="line">{{ method.sourceLine }}</div>
	</div>
</div>