<div class="property {{ property.access }}">
	<div class="header">
		{% if property.access == "private" or property.access == "protected" %}
		<div class="{{ property.access }}">{{ property.access }}</div>
		{% endif %}
		<div class="name">{{ property.name }}</div>
		<div class="type"></div>
		{% if property.inherited %}
		<div class="inherited">From {{ property.inherits }}</div>
		{% endif %}
	</div>
	<div class="description">{{ property.description }}</div>
	<div class="source">
		<div class="file">{{ property.source }}</div>
		<div class="line">{{ property.sourceLine }}</div>
	</div>
</div>