<div class="method {{ method.access }} {{ "inherited" if method.inherits }}">
	<a name="{{ method.name }}"></a>
	<div class="header">
		{% if method.access == "private" or method.access == "protected" %}
		<span class="{{ method.access }}">{{ method.access }}</span>
		{% endif %}
		<span class="name">{{ method.name }}</span>
		<span>&#040;</span>
		{% include "partials/kind-method-header-params.html" %}
		<span>&#041;</span>
		<span class="type"></span>
		{% if method.inherited %}
		<span class="inherited">Inherited from {{ method.inherits }}</span>
		{% endif %}
		<div class="source">
			<span>Source:&nbsp;</span>
			<span class="file">{{ method.source }}</span>
			<span class="line">{{ method.sourceLine }}</span>
		</div>
	</div>
	<div class="description">{{ method.description }}</div>
	{% include "partials/kind-method-params.html" %}
	{% include "partials/kind-method-returns.html" %}
</div>