{% import "partials/macros.inc" as mac %}
<section id="{{ property.name }}" class="property {{ property.access }} {{ "inherited" if method.inherited }}">
	<header>
		<h3>{{ property.name }}</h3>
	</header>

	<table class="attributes">
		{%- if not property.type.undocumented -%}
		<tr>
			<td>Type:</td>
			<td>{{ mac.typeList(property.type) }}</td>
		</tr>
		{%- endif -%}
		{%- if property.defaultvalue -%}
		<tr>
			<td>Default:</td>
			<td>{{ property.defaultvalue }}</td>
		</tr>
		{%- endif -%}
	</table>
	<div class="description">
	{{ property.description }}
	</div>
	<footer>
		{{ mac.source(property) }}
	</footer>
</section>