<a name="{{ property.name }}"></a>
<div class="property {{ property.access }} {{ "inherited" if property.inherits }}">
	<div class="header">
		{% if property.access == "private" or property.access == "protected" %}
		<span class="{{ property.access }}">{{ property.access }}</span>
		{% endif %}
		<span class="name">{{ property.name }}</span>
		<span class="type"></span>
		{% if property.inherited %}
		<span class="inherited">Inherited from {{ property.inherits }}</span>
		{% endif %}
		<div class="source">
			<span>Source:&nbsp;</span>
			<span class="file">{{ property.source }}</span>
			<span class="line">{{ property.sourceLine }}</span>
		</div>
	</div>
	<div class="description">{{ property.description }}</div>
</div>