<a name="modules"></a>
{% for module in modules %}
<a name="{{ module.name }}"></a>
<div class="entry module">
	<div class="header">
		<h1>{{ module.internalLink }}</h1>
	</div>
	<div class="content">
		{% if module.description %}<div class="description">{{ module.description }}</div>{% endif %}
		<ul>
			{% if module.ui.length %}
			<li>
				<a name="{{ module.longname }}-controls"></a>
				<h2><a href="#/namespace/{{ module.name }}:controls">CONTROLS</a></h2>
				<ul class="row">
				{% for control in module.ui %}
				<li class="col-lg-4 col-md-6 col-sm-12">{{ control.internalLink }}</li>
				{% endfor %}
				</ul>
			</li>
			{% endif %}
			{% if module.kinds.length %}
			<li>
				<a name="{{ module.name }}-kinds-other">
				<h2><a href="#/module/{{ module.name }}:kinds-other">KINDS</a></h2>
				<ul class="row">
					{% for kind in module.kinds %}
					<li class="col-lg-4 col-md-6 col-sm-12 {{ kind.access }}">{{ kind.internalLink }}</li>
					{% endfor %}
				</ul>
			</li>
			{% endif %}
			{% if module.methods.length %}
			<li>
				<a name="{{ module.name }}-methods">
				<h2><a href="#/module/{{ module.name }}:methods">METHODS</a></h2>
				<ul class="row">
					{% for method in module.methods %}
					<li class="col-lg-4 col-md-6 col-sm-12 {{ method.access }}"><a href="#/module/{{ module.name }}:{{ method.name }}">{{ method.name }}</a></li>
					{% endfor %}
				</ul>
			</li>
			{% endif %}
			{% if module.properties.length %}
			<li>
				<a name="{{ module.name }}-properties"></a>
				<h2><a href="#/module/{{ module.name }}:properties">PROPERTIES</a></h2>
				<ul class="row">
					{% for prop in module.properties %}
					<li class="col-lg-4 col-md-6 col-sm-12 {{ prop.access }}"><a href="#/module/{{ module.name }}:{{ prop.name }}">{{ prop.name }}</a></li>
					{% endfor %}
				</ul>
			</li>
			{% endif %}
			{% if module.typedefs.length %}
				{% set typedefs = module.typedefs %}
				{% include "partials/typedefs.html" %}
			{% endif %}
		</ul>
	</div>
</div>
{% endfor %}
