<a name="{{ property.name }}"></a>
<div class="entry property {{ property.access }} {{ "inherited" if property.inherits }}">
	<div class="header">
		<span class="access {{ property.access }}">{{ property.access }}</span>
		<span class="name">{{ property.name }}</span>
		<span>:</span>
		<span class="type">{{ property.type.names | join(", ") }}</span>
	</div>
	<div class="content">
		{% if property.inherited %}
		<div class="inherited">Inherited from {{ property.inherits }}</div>
		{% endif %}
		{%- if property.deprecated -%}
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			{%- if property.deprecated != true -%}
				<span>Deprecated: {{ property.deprecated }}</span>
			{%- else -%}
				<span>Deprecated</span>
			{%- endif -%}
		{%- endif -%}
		<div class="default">Default: {{ property.defaultvalue }}</div>
		<div class="description">{{ property.description }}</div>
		{% if property.properties %}
			{% for subProperty in property.properties -%}
				{% include "partials/sub-property.html" %}
			{%- endfor %}
		{% endif %}
		{% if property.see %}
		{% set see = property.see %}
		{% include "partials/see.html" %}
		{% endif %}
		<div class="source">
			<span>From </span>
			<span class="file">{{ property.source }}</span>
			<span class="line">:{{ property.sourceLine }}</span>
		</div>
	</div>
</div>
