<div class="glossary main-container">
	<div class="features">
		<div class="terms">
			<h1><a href="javascript:find(':terms');">Terms</a></h1>
			<ul>
				{% for term in terms %}
				<li class="term">
					<a href="javascript:find(':{{ term.longname }}');">{{ term.longname }}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	
	<div class="header">
		<h2>GLOSSARY</h2>
	</div>
	
	<div class="section description">
		<div>The Glossary provides definitions of key terms used throughout the Enyo
		framework's API documentation.</div>
	</div>
	<div class="section terms">
		<a name="terms"></a>
		<h1>Terms</h1>
		{% for term in terms %}
		<a name="{{ term.longname }}"></a>
		<div class="entry term">
			<div class="header">
				<div class="name">{{ term.longname }}</div>
			</div>
			<div class="content">
				<div class="definition description">{{ term.description }}</div>
				{% if term.see %}
				{% set see = term.see %}
				{% include "partials/see.html" %}
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
</div>