<?js // var self = this; ?>
<div class="row">
	<div class="col-sm-4 col-sm-push-8 features">
		{% if mixes %}
		<div class="mixins">
			<h1><a href="javascript:find(':mixins');">Mixins</a></h1>
			<div>{% include "partials/features-mixins.html" %}</div>
		</div>
		{% endif %}
		<div class="properties">
			<h1><a href="javascript:find(':properties');">Properties</a></h1>
			<div>{% include "partials/features-properties.html" %}</div>
			<h1 class="inherited"><a href="javascript:find(':inherited-properties');">Inherited Properties</a></h1>
			<div class="inherited">{% include "partials/features-inherited-properties.html" %}</div>
		</div>
		<div class="methods">
			<h1><a href="javascript:find(':methods');">Methods</a></h1>
			<div>{% include "partials/features-methods.html" %}</div>
			<h1 class="inherited"><a href="javascript:find(':inherited-methods');">Inherited Methods</a></h1>
			<div class="inherited">{% include "partials/features-inherited-methods.html" %}</div>
		</div>
		<div class="events">
			<h1><a href="javascript:find(':events');">Events</a></h1>
			<div>{% include "partials/features-events.html" %}</div>
			<h1 class="inherited"><a href="javascript:find(':inherited-events');">Inherited Events</a></h1>
			<div class="inherited">{% include "partials/features-inherited-events.html" %}</div>
		</div>
		<div class="static-properties">
			<h1><a href="javascript:find(':static-properties');">Static Properties</a></h1>
			<div>{% include "partials/features-static-properties.html" %}</div>
		</div>
		<div class="static-methods">
			<h1><a href="javascript:find(':static-methods');">Static Methods</a></h1>
			<div>{% include "partials/features-static-methods.html" %}</div>
		</div>
		<div class="typedefs">
			<h1><a href="javascript:find(':typedefs');">Type Definitions</a></h1>
			<div>{% include "partials/features-typedefs.html" %}</div>
		</div>
	</div>
	<div class="col-sm-8 col-sm-pull-4 kind main-container">


		<div class="header">

			<!--<h2>KIND</h2>-->
			<h1>{{ prettyMemberof }}~{{ name }}</h1>
			{% include "partials/inherits.html" %}
			<div class="source">From {{ source }}</div>
			{% if moduleLink %}
			<div class="module-source">Import {{ moduleLink }}</div>
			{% endif %}
			{%- if wip -%}
				<div class="wip">
				<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
				Work-in-progress
				</div>
			{%- endif -%}
		</div>

		<div class="section description">
			<h1>Description</h1>
			<div>{{ description }}</div>
		</div>
		<div class="section properties">{% include "partials/properties.html" %}</div>
		<div class="section inherited-properties inherited">{% include "partials/inherited-properties.html" %}</div>
		<div class="section methods">{% include "partials/methods.html" %}</div>
		<div class="section inherited-methods inherited">{% include "partials/inherited-methods.html" %}</div>
		<div class="section events">{% include "partials/events.html" %}</div>
		<div class="section inherited-events inherited">{% include "partials/inherited-events.html" %}</div>
		<div class="section static-properties">{% include "partials/static-properties.html" %}</div>
		<div class="section static-methods">{% include "partials/static-methods.html" %}</div>
		<div class="section typedefs">{% include "partials/typedefs.html" %}</div>
		<div class="section mixins">{% include "partials/mixins.html" %}</div>
	</div>
</div>
