{%- macro group(title, section, scop) -%}
<div class="group" x-section="{{ section }}">
	<h1>{{ title }}</h1>
	<div class="table">
	{%- for doclet in scop -%}
	{%- if loop.first or ((loop.index-1) % 3 == 0) -%}
	<ul>
	{%- endif -%}
	<li><a href="#/{{ section }}/{{ doclet.longname }}">{{ doclet.longname }}</a></li>
	{%- if (loop.index % 3 == 0) or loop.last -%}
	</ul>
	{%- endif -%}
	{%- endfor %}
	</div>
</div>
{%- endmacro -%}

<div class="namespace">
	<div class="header">
		<div class="icon namespace"></div>
		<span class="title"><a href="#/browse/{{ namespace.longname }}">{{ namespace.longname }}</a></span>
	</div>
	<div class="content">
	{%- if namespace.subNamespaces.length > 0 -%}
	{{ group('Sup-namespaces', 'browse', namespace.subNamespaces) }}
	{%- endif -%}
	{%- if namespace.ui.length > 0 -%}
	{{ group('UI', 'ui', namespace.ui) }}
	{%- endif -%}
	{%- if namespace.utility.length > 0 -%}
	{{ group('Utility', 'utility', namespace.utility) }}
	{%- endif -%}
	{%- if namespace.kinds.length > 0 -%}
	{{ group('Kinds', 'kind', namespace.kinds) }}
	{%- endif -%}
	{%- if namespace.functions.length > 0 -%}
	<div class="functions kind">
		{%- for method in namespace.functions -%}
		{% include 'partials/kind-method.html' %}
		{%- endfor -%}
	</div>
	{%- endif -%}
	</div>
</div>