<div class="row">
	<div class="col-sm-4 col-sm-push-8 features">
		<div class="namespaces">
			<h1><a href="javascript:find(':namespaces');">Namespaces</a></h1>
			<div>
				<ul>
					{% for ns in namespaces %}
					<li><a href="javascript:find(':{{ ns.longname }}');">{{ ns.longname }}</a></li>
					<ul>
						{% if ns.ui.length %}
						<li><a href="javascript:find(':{{ ns.longname }}-controls');">controls ({{ ns.ui.length }})</a></li>
						{% endif %}
						{% if ns.kinds.length %}
						<li><a href="javascript:find(':{{ ns.longname }}-kinds-other');">kinds ({{ ns.kinds.length }})</a></li>
						{% endif %}
						{% if ns.methods.length %}
						<li><a href="javascript:find(':{{ ns.longname }}-methods');">methods ({{ ns.methods.length }})</a></li>
						{% endif %}
						{% if ns.properties.length %}
						<li><a href="javascript:find(':{{ ns.longname }}-properties');">properties ({{ ns.properties.length }})</a></li>
						{% endif %}
						{% if ns.mixins.length %}
						<li><a href="javascript:find(':{{ ns.longname }}-mixins');">mixins ({{ ns.mixins.length }})</a></li>
						{% endif %}
						{% if ns.subNamespaces.length %}
						<li><a href="javascript:find(':{{ ns.longname }}-sub-namespaces');">sub-namespaces ({{ ns.subNamespaces.length }})</a></li>
						{% endif %}
					</ul>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div class="col-sm-8 col-sm-pull-4 namespaces main-container">

		<div class="header">
			<h2>NAMESPACES</h2>
		</div>

		<div class="section description">
			<div>These are the top-level namespaces provided by Enyo core and its
				associated libraries.  Also listed are the individual elements available
				within each namespace.</div>
		</div>
		<div class="section namespaces">{% include "partials/namespaces-blocks.html" %}</div>
	</div>
</div>
