<div class="utilities main-container">
	
	{% set longname = true %}
	
	<div class="features">
		{% set utility = utils %}
		{% include "partials/features-utility-methods.html" %}
	</div>
	
	<div class="header">
		<h2>UTILITIES</h2>
	</div>
	
	<div class="sectiond description">
		<div>Here is a complete list of all the utility methods.</div>
	</div>
	
	<div class="section utilities">
		<a name="utilities"></a>
		
		{% set methods = utils %}
		{% include "partials/methods.html" %}
	</div>
	
</div>