.features {
	position: relative;
	float: right;
	width: 300px;
	background-color: #CBECFF;
	color: #FFF;
	padding: 25px;
	box-sizing: border-box;
	margin: 0 0 80px 80px;
}

.features {
	h1 {
		font-size: 18px;
		padding-top: 0;
		margin-top: 0;
		text-transform: uppercase;
	}
}

.features {
	h1 {
		a {
			color: #5DC4FF;
		}
	}
}

.features {
	li {
		a, a:hover, a:visited {
			font-size: 12px;
			color: #222;
		}
	}
}