.features {
	background-color: #CBECFF;
	color: #FFF;
	padding: 20px 20px 5px 20px;
	font-size: 12px;

	h1,
	h2 {
		font-size: 1.5em;
		padding-top: 0;
		margin-top: 0;
		text-transform: uppercase;
		color: #5DC4FF;

		a {
			color: @link-color;
		}
	}
	h2 {
		font-size: 1.2em;
	}

	ul {
		display: table;
		padding-left: 5px;
	}

	li {
		display: table-row;

		&,
		a,
		a:hover,
		a:visited {
			color: @text-color;
		}

		.badges,
		a {
			display: table-cell;
		}

		.badges {
			text-align: right;

			> * {
				margin-right: 0.25em;
			}
		}

		.glyphicon-lock {
			display: none;
		}

		&.private {
			.glyphicon-lock {
				display: inline-block;
			}
		}
	}

	.feature-text {
		// needs to NOT be a table row, so it can be block-styled, like the others
		display: block;
	}

	.no-methods, .no-properties, .no-kinds, .no-mixins, .no-sub-namespaces {
		color: @text-color;
		padding-bottom: 15px;
		display: inline-block;
	}
}
