#footer {
	height: 200px;
	width: 100%;
	margin: 0;
	padding: 25px;
	background-color: #5DC4FF;
	color: #FFFFFF;
	position: relative;
}

#footer {
	.generated {
		position: absolute;
		left: 25px;
		bottom: 25px;
		font-size: 8px;
	}
}