footer {
	background-color: @footer-bg-color;
	color: @footer-text-color;
	position: relative;
	line-height: 15px;
	font-size: 10px;
	padding: 10px 25px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	box-sizing: border-box;

	.license {
		float: left;
	}

	.generated {
		float: right;
	}

	.version {
		text-align: center;
	}
}
