.header-nav-item() {
	margin: 0 10px;
	line-height: 35px;
	font-size: 15px;
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
}

#header {
	@title-line-height: 70px;

	background-color: @header-bg-color;
	color: @header-text-color;
	padding-top: 10px;

	a,
	a:link,
	a:hover,
	a:active,
	a:visited {
		color: @header-text-color;
		text-decoration: none;
	}
	// hack for Prism selector...
	.namespace {
		opacity: initial;
	}

	.title {
		padding-left: 25px;

		span {
			line-height: @title-line-height;
			font-size: 50px;
			font-family: 'Raleway', sans-serif;
			font-weight: normal;
		}
	}

	.primary-nav {
		a {
			@tall-nav-margin: 20px;

			display: inline-block;
			.header-nav-item;
			line-height: (@title-line-height - (@tall-nav-margin * 2));
			margin: @tall-nav-margin 5px;
			padding: 0 5px;
		}
	}

	.fixed-nav {
		background-color: @header-bg-color;
		z-index: 100;
		margin-bottom: 0px;

		ul {
			width: 100%;

			li {
				.header-nav-item;

				&:first-child {
					a {
						padding-left: 0;
					}
				}

				&.top {
					opacity: 0;
					visibility: hidden;
					@transition: visibility 0s 300ms, opacity 300ms;
					.transition(@transition);
				}

				&.show-hide-private a {
					background-color: rgba(255,255,255,0.2);
					border-radius: 999px;
					padding: 5px 15px;
					margin: 5px 0;
					font-weight: 100;

					&:hover {
						background-color: rgba(255,255,255,0.25);
					}

					&::after {
						content: '';
						display: block;
						border-radius: 50%;
						width: 10px;
						height: 10px;
						float: right;
						margin-top: 6px;
						margin-right: -5px;
						margin-left: 5px;
						background-color: rgba(255, 255, 255, 0.4);

						.show-private & {
							background-color: white;
						}
					}
				}
			}
		}

		&.fixed {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;

			ul {
				li.top {
					opacity: 1;
					visibility: visible;
					.transition-delay(0s);
				}
			}
		}
	}
}

.hide-private {
	.private,
	.protected {
		display: none;
	}

	.hide-on-private {
		display: block;
	}
}

.show-private {
	.private,
	.protected {
		display: block;
	}

	.hide-on-private {
		display: none;
	}
}

.navbar-default {
	border: none;

	.navbar-toggle {
		border-radius: 0;

		&:focus {
			background-color: transparent;
		}
		&:hover {
			background-color: @navbar-default-toggle-hover-bg;
		}
	}
}

@media (min-width: @screen-sm-min) {
	#header {
		ul {
			li {
				&.show-hide-private {
					.pull-right;
				}
			}
		}

		.primary-nav {
			text-align: right;
		}
	}
}
