#header {
	background-color: @header-bg-color;
	color: @header-text-color;

	a, a:hover, a:visited {
		color: @header-text-color;
		text-decoration: none;
	}
	// hack for Prism selector...
	.namespace {
		opacity: initial;
	}

	.title {
		padding-top: 25px;
		padding-left: 25px;

		span {
			line-height: 75px;
			font-size: 50px;
			font-family: 'Raleway', sans-serif;
			font-weight: normal;
		}
	}

	.primary-nav {
		padding-top:35px;
//		position: absolute;
//		top: 25px;
//		right: 25px;
//		height: 75px;
	}
}

#header {
	.primary-nav, .fixed-nav {
		ul {
//			padding: 0;
//			margin: 0;
//			height: 75px;

			li {
//				display: inline-block;
//				box-sizing: border-box;
//				height: 100%;
				line-height: 35px;
				font-size: 15px;
				font-weight: normal;
				font-family: 'Open Sans', sans-serif;
			}
		}
	}
}

#header {
	.fixed-nav {
//		position: absolute;
//		left: 0;
//		right: 0;
//		bottom: 0;
//		height: 75px;
		background-color: @header-bg-color;
		z-index: 100;

		&.fixed {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;

			ul {
				li.top {
					opacity: 1;
					visibility: visible;
					.transition-delay(0s);
				}
			}
		}

		ul {
			width: 100%;
			li {
				&.top {
					opacity: 0;
					visibility: hidden;
					@transition: visibility 0s 300ms, opacity 300ms;
					.transition(@transition);
				}

				&.show-hide-private {
					float: right;
					padding-right: 40px;
				}
			}
		}
	}
}

.hide-private {
	.private, .protected, .inherited {
		display: none;
	}
}

.show-private {
	.private, .protected, .inherited {
		display: block;
	}
}