.kinds {
	.section {
		.entry {
			.header {
				height: auto;
			}
		}
	}
}

.kinds {
	.section.kinds {
		clear: both;
		
		.entry {
			.content {
				ul {
					column-count: 4;
					-webkit-column-count: 4;
					
					li {
						padding: 5px;
					}
				}
			}
		}
	}
}