@import url(http://fonts.googleapis.com/css?family=Raleway:400,800|Open+Sans:400,800|Titillium+Web:400,300);

body {
	font-family: 'Titillium Web', sans-serif;
	background-color: #FFFFFF;
	color: #55CFFF;
	margin: 0;
	padding: 0;
}

.private, .protected, .inherited {
	display: none;
}

ul {
	list-style-type: none;
	padding: 0;
}