// hack to compensate for bad selector in Prism CSS, plus padding adjustment
#index {
	#content {
		.namespace {
			opacity: initial;
		}
		.row {
			padding-bottom: 40px;
		}
	}
}

.namespaces {
	.features {
		.utilities, .kinds .ui, .kinds .kinds {
			padding-left: 25px;
		}
	}

	.section {
		.entry {
			.header {
				height: auto;
			}
		}
	}

	.section.namespaces {
		clear: both;
		
		.entry {
			.content {
				ul {
					li {
						ul {
							li {
								overflow: hidden;
								text-overflow: ellipsis;
								padding: 5px;
							}
						}
					}
				}
			}
		}
	}
}